<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <header>
        <h1>My Chat</h1>
        <p>Welcome <%= name %>!</p>
    </header>
    <div id="container">
        <ul id="messages"></ul>
        <form id="form">
            <input type="text" name="message" id="message">
            <input type="submit" value="Send!">
        </form>
    </div>
    <footer>
        <address>made in japan</address>
    </footer>
    <script>
        $(() => {
            const socket = io.connect();
            const name = '<%= name %>';
            $('#form').submit((e) => {
                e.preventDefault();
                socket.json.emit('from client', {
                    name: name,
                    message: $('#message').val()
                });
                $('#message').val('').focus();
            });
            socket.on('from server', (data) => {
                $('#messages').append($('<li>').text(data));
            });
        });
    </script>
</body>
</html>