<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat</title>
</head>
<body>
    <header>
        <h1>My Chat</h1>
        <p>Welcome to My Chat!!!</p>
    </header>
    <div id="container">
        <p>Please Sign up or Sign in.</p>
        <a href='./signup'><h1>Sign up</h1></a>
        <a href="./signin"><h1>Sign in</h1></a>
    </div>
    <footer>
        <address>made in japan</address>
    </footer>
</body>
</html>