<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Chat</title>
</head>
<body>
    <% for(var user: users) { %>
        <p><%= user.name %></p>
    <% } %>
</body>
</html>